<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Add this line -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeyDefender  {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <nav class="nav-container">
            <div class="logo">
                <i class="fas fa-shield-alt"></i>
                KeyDefender
            </div>
            <ul class="nav-links">
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/detection"><i class="fas fa-radar"></i> Detection</a></li>
                <li><a href="/download"><i class="fas fa-download"></i> Download</a></li>
                <li><a href="/about_us"><i class="fas fa-lock"></i> About Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>